{
  "name": "%%PKGNAME%%",
  "version": "%%VERSION%%",
  "description": "%%DESCRIPTION%%",
  "main": "bin/start-link.sh",
  "configs": {
    "log" : {
      "type": "string",
      "default": "info"
    },
    "broker": {
      "type": "url"
    },
    "name": {
      "type": "string",
      "default": "%%NAME%%"
    },
    "token": {
      "type": "string"
    }
  }
}
